.top-img {
    background-image: url('../assets/images/monkees.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}


/*-------------- Nav Bar----*/

.navbar-brand {
    font-size: 2em;
}

.navbar-nav {
    font-size: 1.5em;
}